= bootstrap_form_for(:session) do |f|
  = f.text_field(:username)
  = f.password_field(:password)
  = f.submit t(:label_login)
- if EgovUtils::Settings.allow_register?
  = link_to t('label_signup'), egov_utils.new_user_path, class: 'btn btn-secondary'
- if EgovUtils::Settings.allow_password_reset?
  = link_to t('label_forgotten_password'), egov_utils.reset_passwords_path
