%table.table#users
  %thead
    %tr
      %th= EgovUtils::User.human_attribute_name('fullname')
      %th= EgovUtils::User.human_attribute_name('provider')
      %th= EgovUtils::User.human_attribute_name('roles')
      %th= EgovUtils::User.human_attribute_name('groups')
      %th= t('label_actions')
  %tbody
    - users.entities.each do |user|
      %tr
        %td{title: user.login}= user.fullname
        %td= user.provider
        - if can?(:manage, user)
          %td.roles{data: {roles: user.roles, id: user.id}}= user.roles.join(', ')
        - else
          %td= user.roles.join(', ')
        %td
          - user.groups.each do |g|
            %span= g.name
        %td
          - if can?(:delete, user)
            = button_to(t('label_delete'), user_path(user), method: :delete, class: 'btn btn-warning btn-sm')
          - unless user.active?
            = button_to(t('label_approve'), approve_user_path(user), class: 'btn btn-primary btn-sm')

:javascript
  $(function(){
    $('#users tbody').roles({ url: '#{roles_path(entity_class: 'EgovUtils::User')}' });
  });
