= bootstrap_form_for(EgovUtils::Group.new) do |f|
  = render 'egov_utils/groups/form', form: f
  .form-actions
    = f.submit

%table#groups.table
  %thead
    %tr
      %th= EgovUtils::Group.human_attribute_name('name')
      %th= EgovUtils::Group.human_attribute_name('provider')
      %th= EgovUtils::Group.human_attribute_name('roles')
  %tbody
    - groups.each do |group|
      %tr
        %td= link_to(group.name, group)
        %td= group.provider
        - if can?(:manage, group)
          %td.roles{data: {roles: group.roles, id: group.id}}= group.roles.join(', ')
        - else
          %td

:javascript
  $(function(){
    $('#groups tbody').roles({ url: '#{roles_path(entity_class: 'EgovUtils::Group')}' });
  });
